<h1>Hello {{name}}, </h1>
<p [class]="redOrBlue ? 'text-red' : 'text-blue'">test is working for the third time</p>


<input [(ngModel)]="ngModelVar" />

<p>{{ngModelVar}}</p>

<button [disabled]="disableButton" (click)="logText()">Click me</button>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax">First</th>
      <th class="tg-0lax">Second</th>
      <th class="tg-0lax">Third</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax" [attr.colspan]="2"></td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"></td>
    </tr>
  </tbody>
  </table>
